* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

main {
    background-color: black;
}

div {
    font-size: smaller;
    border: 2px solid black;
}

.header {
    background-color: aqua;
    padding: 20px;
}

.hero {
    background-color: red;
    padding: 20px;
}

.ambas {
    display: flex;
}

.content {
    background-color: green;
    padding: 20px;
}

.sidebar  {
    background-color: blueviolet;
    padding: 20px;
}

.footer {
    background-color: lightgrey;
    padding: 20px;
}
